server:
  port: 8085

spring:
  application:
    name: skill-trae-solo

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    net.ooder: DEBUG
    root: INFO
