server:
  port: 8083

spring:
  application:
    name: skill-org-feishu

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    net.ooder: DEBUG
    root: INFO
